
#searchInput {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
}

#searchInput::placeholder {
    color: #aaa;
}

#searchInput:focus {
    background-color: #444;
}

#searchBtn {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchBtn:hover {
    background-color: #ffcc00;
}
