#cartBtn {
    position: relative;
    background: none;
    border: none;
    list-style: none;
    cursor: pointer;
}

#cartBtn .fa-shopping-cart {
    font-size: 24px; /* Tamanho do ícone */
    color: #333;
}

.cartCount {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    top: -5px;
    right: -5px;
    color: white;
    font-size: 20px;
    padding: 2px 6px;
}


